.contact {
  padding-top: 70px;
  background-color: $secondary-light;
  padding-bottom: 37.5px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    background-color: $primary-color;
  }

  &__outer {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-bottom: 8px solid $secondary-color;
    margin-top: 40px;
    position: relative;
    gap: 20px;
    z-index: 1000;

    @include media(">=desktop") {
      gap: 80px;
    }

    &-left {
      width: 100%;
      padding: 40px;
      @include media(">=desktop") {
        width: 50%;
        padding: 60px;
      }

      &-more {
        display: flex;
        flex-direction: column;

        a {
          font-family: $Playfair;
          color: $secondary-color;
          font-size: 20px;
        }

        img {
          height: 80px;
          width: 40px;
        }
      }

      &-intro {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 500px;
        color: $primary-color;

        span {
          font-size: 24px;
          color: $secondary-color;
          font-weight: 400;
          font-family: $Poppins;
        }
      }

      &-icons {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        div {
          display: flex;
          gap: 10px;
          font-family: $Poppins;
          color: $primary-color;

          div {
            display: flex;
            flex-direction: column;

            h5 {
              font-size: 20px;
            }

            a {
              color: $primary-color;
              font-size: 16px;
            }
          }

          img {
            height: 40px;
          }
        }
      }
    }

    &-right {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      @include media(">=desktop") {
        width: 50%;
        padding: 60px;
      }
    }

    @include media(">=desktop") {
      flex-direction: row;
    }
  }
}

.locations {
  background-color: $primary-color;

  @include media(">=desktop") {
    padding: 40px;
  }

  &-outer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__intro {
      color: $secondary-color;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      gap: 30px;

      margin-top: 40px;
      margin-bottom: 60px;

      @include media(">=tablet") {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media(">=desktop") {
        grid-template-columns: repeat(3, 1fr);
      }

      &-item {
        font-family: $Poppins;
        color: $white;

        &-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          gap: 40px;
          background-color: $primary-light;
          padding: 40px;

          @include media(">=desktop") {
            padding: 40px 80px;
          }

          &-title {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              height: 40px;
            }

            h4 {
              font-size: 20px;
            }
          }

          &-content {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .button {
              button {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
