.ql {
  width: 100%;
  padding-top: 200px;
  background-color: $secondary-light;

  &__container {
    display: flex;
    flex-direction: column;

    @include media(">=desktop") {
      flex-direction: row;
    }

    &-one,
    &-two,
    &-three {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;

      @include media(">=desktop") {
        padding: 80px;
      }

      img {
        height: 40px;
        width: 40px;
        object-fit: contain;
      }

      a {
        color: $white;
        display: flex;
        align-items: center;

        img {
          height: 16px;
        }
      }
    }

    &-one {
      background-color: $secondary-color;
      color: $white;

      img {
        filter: brightness(0) invert(1);
      }
    }

    &-two {
      background-color: $primary-color;
      color: $white;

      img {
        filter: brightness(0) invert(1);
      }
    }

    &-three {
      background-color: $secondary-alternate;
      color: $primary-color;

      a {
        color: $primary-color;
      }
    }
  }
}
