.category-badge {
  background-color: $secondary-light;
  color: $secondary-color;
  padding: 12px 32px;
  transition: all 300ms;
  cursor: pointer;
  font-family: $Poppins;
  margin-right: 8px;
  margin-top: 8px;

  @include media(">=desktop") {
    margin-right: 20px;
  }

  &.selected {
    background-color: $secondary-color;
    color: white;
  }
}
